{% extends 'base.html' %} {% block title %}Detalle del Medicamento{% endblock %}
{% block content %}
<h2 class="text-xl font-semibold mb-4">Detalle del Medicamento</h2>
<p><strong>Nombre:</strong> {{ medicamento.nombre }}</p>
<p><strong>Precio:</strong> ${{ medicamento.precio }}</p>
<p><strong>Existencias:</strong> {{ medicamento.existencias }}</p>
<p><strong>Lugar:</strong> {{ medicamento.lugar }}</p>
<a
  href="{% url 'lista_medicamentos' %}"
  class="mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
  >Volver</a
>
{% endblock %}
