{% extends 'base.html' %} {% block title %}Confirmar Eliminación{% endblock %}
{% block content %}
<h2 class="text-xl font-semibold text-red-600 mb-4">
  ¿Estás seguro de que deseas eliminar este medicamento?
</h2>
<p class="mb-4"><strong>{{ medicamento.nombre }}</strong></p>
<form method="post">
  {% csrf_token %}
  <button
    type="submit"
    class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600"
  >
    Eliminar
  </button>
  <a
    href="{% url 'lista_medicamentos' %}"
    class="ml-4 bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600"
    >Cancelar</a
  >
</form>
{% endblock %}
